<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748680012359-mgirl7uji4imp1kk8n5j96aqisk54c6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748680012359-mgirl7uji4imp1kk8n5j96aqisk54c6p</string>
	<key>API_KEY</key>
	<string>AIzaSyD193tgeHjzLYsgHYhy0Km6HsODyb9cYUE</string>
	<key>GCM_SENDER_ID</key>
	<string>748680012359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.snackShop</string>
	<key>PROJECT_ID</key>
	<string>snack-shop-67138</string>
	<key>STORAGE_BUCKET</key>
	<string>snack-shop-67138.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:748680012359:ios:b75df0524663737c880762</string>
	<key>DATABASE_URL</key>
	<string>https://snack-shop-67138-default-rtdb.firebaseio.com</string>
</dict>
</plist>
